.options {
    width: 90%;
    margin: $xxl-size auto 0 auto;
    border: 2px solid $darkturquoise;

    &__header {
        background: lighten($darkturquoise, 50%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid $darkturquoise;

        &-button {
            border: none;
            background: $darkturquoise;
            color: white;
            width: 100px;
            padding: $s-size 0;
            margin: $s-size 0;
            font-size: $s-size;
        }
    }

    &__contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: $m-size 0;
    }
}